*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  background: #EFEFEF;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

h1 {
  text-align: center;
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 0;
}

.controls {
  margin: 20px 5px;
  text-align: center;
}

.score {
  background: #EFEFEF;
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  margin-left: 47.5%;
  font-size: 6rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.redbull {
  display: block;
  background: url("Redbull.png") bottom center no-repeat;
  background-size: contain;
  width: 8%;
  height: 140px;
  z-index: 2;
  bottom: -30px;
  margin-right: auto;
  margin-left: auto;
  border-width: 3px;
  border-style: double;
  border-color: #EFEFEF;
}

.hole:after {
  display: block;
  background: url("wildshort.png") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 120px;
  position: absolute;
  z-index: 1;
  bottom: -2px;
}

.mole {
  background: url("Brian.jpg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 50%;
  transition: all 0.5s;
}

.hole.up .mole {
  top: 0;
}